<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>
    <base href="{{site.siteurl}}{{site.baseurl}}/" />
    <link href="css/default.css" rel="stylesheet" type="text/css" />
    <link href="css/syntax.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Cardo" />
    <link href="{{site.siteurl}}{{site.baseurl}}/atom.xml" rel="alternate" type="application/rss+xml" title="0Pointer - Pointing Nowhere" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
{{ content }}

</body>
</html>
